# GitHub code owners. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Remember, the last match takes precedence.

# Global owner
*                    @tigarmo

# Documentation owners
/docs/tutorial/      @canonical/starcraft-authors @asanvaq @erinecon
/docs/how-to/web-app-rocks/      @canonical/starcraft-authors @asanvaq @erinecon
/docs/               @canonical/starcraft-authors @asanvaq @tigarmo

# Code owner changes must be approved by a maintainer.
/.github/CODEOWNERS  @canonical/starcraft-maintainers
