certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
craft-application==2.9.0
craft-archives==1.1.3
craft-cli==2.6.0
craft-grammar==1.2.0
craft-parts==1.33.0
craft-providers==1.24.1
Deprecated==1.2.15
distro==1.9.0
httplib2==0.22.0
idna==3.7
importlib_metadata==7.1.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.7
oauthlib==3.2.2
overrides==7.7.0
packaging==24.0
platformdirs==4.2.2
pycparser==2.22
pydantic==1.10.15
pydantic-yaml==0.11.2
pygit2==1.14.1
pyparsing==3.1.2
pyxdg==0.28
PyYAML==6.0.2
requests==2.31.0
requests-unixsocket==0.3.0
six==1.16.0
snap-helpers==0.4.2
spdx==2.5.1
spdx-lookup==0.3.3
tabulate==0.9.0
types-Deprecated==1.2.15.20241117
types-PyYAML==6.0.12.20240917
typing_extensions==4.11.0
urllib3==1.26.20
wadllib==1.3.9
wrapt==1.16.0
zipp==3.18.2
