alabaster==0.7.12
astroid==2.11.3
attrs==21.4.0
autoflake==1.4
Babel==2.10.1
black==22.3.0
bleach==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
codespell==2.1.0
commonmark==0.9.1
coverage==6.3.2
craft-cli==0.5.0
craft-parts==1.6.1
craft-providers==1.2.0
craft-store==0.0.1.dev1
cryptography==37.0.1
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.4
docutils==0.17.1
filelock==3.6.0
flake8==4.0.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
iniconfig==1.1.1
isort==5.10.1
jeepney==0.8.0
Jinja2==3.1.2
jsonpointer==2.3
keyring==23.5.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
mypy==0.950
mypy-extensions==0.4.3
overrides==6.1.0
packaging==21.3
pathspec==0.9.0
pkginfo==1.8.2
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pydantic-yaml==0.6.3
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.12.0
pylint==2.13.7
pylint-fixme-info==1.0.3
pylint-pytest==1.1.2
pyparsing==3.0.8
pytest==7.1.2
pytest-mock==3.7.0
pytest-subprocess==1.4.1
pytz==2022.1
pyxdg==0.27
PyYAML==6.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
requests-unixsocket==0.3.0
rfc3986==2.0.0
rich==12.3.0
SecretStorage==3.3.2
semver==2.13.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-autodoc-typehints==1.18.1
sphinx-jsonschema==1.19.1
sphinx-pydantic==0.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
tox==3.25.0
twine==4.0.0
types-Deprecated==1.2.7
types-PyYAML==6.0.7
types-requests==2.27.25
types-setuptools==57.4.14
types-urllib3==1.26.14
typing-utils==0.1.0
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
webencodings==0.5.1
wrapt==1.14.1
zipp==3.8.0
