# See {{versioned_url}}/reference/extensions/express-framework
# For questions or help, visit https://matrix.to/#/#12-factor-charms:ubuntu.com

name: {{name}}
# see {{versioned_url}}/explanation/bases/
# for more information about bases and using 'bare' bases for chiselled rocks
base: bare # as an alternative, an ubuntu base can be used
build-base: ubuntu@24.04 # build-base is required when the base is bare
version: '0.1' # just for humans. Semantic versioning is recommended
summary: A summary of your ExpresssJS application # 79 char long summary
description: |
    This is {{name}}'s description. You have a paragraph or two to tell the
    most important story about it. Keep it under 100 words though,
    we live in tweetspace and your description wants to look good in the
    container registries out there.
# the platforms this rock should be built on and run on.
# you can check your architecture with `dpkg --print-architecture`
platforms:
    amd64:
    # arm64:
    # ppc64el:
    # s390x:

# to ensure the expressjs-framework extension works properly, your ExpressJS
# application should be inside the app directory and the "start" script defined
# in the package.json's scripts section.
extensions:
    - expressjs-framework

# uncomment the sections you need and adjust according to your requirements.
# parts:  # you need to uncomment this line to add or update any part.
#  expressjs-framework/install-app:
#    # to specify the version of node to be installed, uncomment the following
#    # line and set the version to the desired one.
#    # see https://documentation.ubuntu.com/rockcraft/latest/common/craft-parts/reference/plugins/npm_plugin/
#    npm-include-node: true
#    npm-node-version: node
