# See {{versioned_url}}/reference/extensions/django-framework
# For questions or help, visit https://matrix.to/#/#12-factor-charms:ubuntu.com

name: {{name}}
# see {{versioned_url}}/explanation/bases/
# for more information about bases and using 'bare' bases for chiselled rocks
base: bare # as an alternative, an ubuntu base can be used
build-base: ubuntu@24.04 # build-base is required when the base is bare
version: "0.1" # just for humans. Semantic versioning is recommended
summary: A summary of your Django application # 79 char long summary
description: |
  This is {{name}}'s description. You have a paragraph or two to tell the
  most important story about it. Keep it under 100 words though,
  we live in tweetspace and your description wants to look good in the
  container registries out there.
# the platforms this rock should be built on and run on.
# you can check your architecture with `dpkg --print-architecture`
platforms:
  amd64:
  # arm64:
  # ppc64el:
  # s390x:

# to ensure the django-framework extension functions properly, your Django project
# should have a structure similar to the following with ./{{snake_name}}/{{snake_name}}/wsgi.py
# being the WSGI entry point and contain an application object.
# +-- {{snake_name}}
# |   |-- {{snake_name}}
# |   |   |-- wsgi.py
# |   |   +-- ...
# |   |-- manage.py
# |   |-- migrate.sh
# |   +-- some_app
# |       |-- views.py
# |       +-- ...
# |-- requirements.txt
# +-- rockcraft.yaml

extensions:
  - django-framework
# uncomment the sections you need and adjust according to your requirements.
# parts:
#   django-framework/dependencies:
#     stage-packages:
#       # list required packages or slices for your Django application below.
#       - libpq-dev
