name: QA
on:
  push:
    branches:
      - "main"
      - "feature/*"
      - "hotfix/*"
      - "release/*"
      - "renovate/*"
  pull_request:

jobs:
  lint:
    uses: canonical/starflow/.github/workflows/lint-python.yaml@main
  test:
    uses: canonical/starflow/.github/workflows/test-python.yaml@main
    with:
      lowest-python-version: ""
      fast-test-platforms: '[["jammy", "amd64"], ["noble", "amd64"]]'
      fast-test-python-versions: '["3.12"]'
      slow-test-platforms: '[["jammy", "amd64"], ["noble", "amd64"]]'
      slow-test-python-versions: '["3.12"]'
