name: TICS

on:
  push:
    branches:
    - main
    # to easy test changes to the workflow
    - tiobe

jobs:
  CI:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          echo "::group::apt-get update"
          sudo apt-get update
          echo "::endgroup::"
          echo "::group::apt-get install..."
          sudo apt-get install -y python3 python3-dev libapt-pkg-dev libyaml-dev umoci
          echo "::endgroup::"
          echo "::group::pip install"
          python -m pip install -U wheel setuptools pip
          python -m pip install -U -r requirements.txt -r requirements-dev.txt -r requirements-jammy.txt
          echo "::endgroup::"

      - name: Install project
        run: |
          python -m pip install -e .


      - name: Run coverage
        run: |
          make coverage

      - name: Upload test results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-ubuntu-22.04
          path: results/

      - name: Run TICS analysis
        uses: tiobe/tics-github-action@v3
        with:
          mode: qserver
          project: rockcraft
          viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=default
          branchdir: ${{ github.workspace }}
          ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
          installTics: true
